@import "header.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    font-size: 16px;
}

body {}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px auto 750px auto auto 60px;
    grid-template-areas: "head head head head head head" "title title title title title title" "hero hero hero hero hero hero" "other other other other other other" "blog blog blog blog blog blog" "footer footer footer footer footer footer";
    width: 100%;
    height: 100vh;
}

.top-nav {
    grid-area: head;
}


/*Page Title*/

.title {
    grid-area: title;
    display: grid;
    grid-template-columns: 40px repeat(12, minmax(0, 1fr)) 40px;
    grid-column-start: 2;
    grid-column-end: 6;
}

.title-container {
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 12;
}

.title-text {}

.title h1 {
    font-size: 3.5rem;
}

.hero-image {
    grid-area: hero;
    background-image: url('../images/baby-1399332_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.other-details {
    grid-area: other;
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 10px auto 0;
}

.post {
    grid-area: blog;
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 40px repeat(12, minmax(0, 1fr)) 40px;
}

.footer-nav {
    grid-area: footer;
}

.para-text {
    grid-column: 4/12;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 2.35rem;
}

footer {
    grid-area: footer;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.category-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.closing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.closing-text {
    max-width: 700px;
    max-height: 325px;
    margin: 0 auto;
}

.closing-image {
    width: 75px;
    height: 75px;
}

.closing-image img {
    width: 100%;
}

.card-category {
    padding: 5px 15px;
    background: #ff8700;
    margin: 0 15px 0 0;
    width: 70px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}