@import "header.css";
@import "cards.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    font-size: 16px;
}

body {
    background-color: #f9f9f9;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px auto 750px auto auto 60px;
    grid-template-areas: "head head head head head head" "title title title title title title" "hero hero hero hero hero hero" "other other other other other other" "blog blog blog blog blog blog" "footer footer footer footer footer footer";
    width: 100%;
    height: 100vh;
}

.top-nav {
    grid-area: head;
}


/*Page Title*/

.title {
    grid-area: title;
    display: grid;
    grid-template-columns: 20px repeat(6, minmax(0, 1fr)) 20px;
    grid-column-start: 2;
    grid-column-end: 6;
}

.title-container {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 13;
}

.title h1 {
    font-size: 2.5rem;
}

.hero-image {
    grid-area: hero;
    background-image: url('../images/baby-1399332_1920.jpg');
    background-size: 100% cover;
    background-repeat: no-repeat;
}

.other-details {
    grid-area: other;
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 10px auto 0;
}

.post {
    grid-area: blog;
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 40px repeat(12, minmax(0, 1fr)) 40px;
}

.footer-nav {
    grid-area: footer;
}

.para-text {
    grid-column: 2/13;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 2.35rem;
}

footer {
    grid-area: footer;
}

.socials {
    margin-left: auto;
    margin-top: 5px;
    ;
}

blockquote {
    margin: auto 40px;
    display: grid;
    display: none;
}

.author-card {
    display: flex;
    flex-direction: column;
}

.author-name {
    max-width: 350px;
    max-height: 350px;
    margin-right: 20px;
}

.author-name img {
    width: 100%;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.bio {
    line-height: 1.2rem;
}


/*Media Query*/

@media(min-width:900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 60px auto 750px auto auto 60px;
        grid-template-areas: "head head head head head head" "title title title title title title" "hero hero hero hero hero hero" "other other other other other other" "blog blog blog blog blog blog" "footer footer footer footer footer footer";
        width: 100%;
        height: 100vh;
    }
    .top-nav {
        grid-area: head;
    }
    /*Page Title*/
    .title {
        grid-area: title;
        display: grid;
        grid-template-columns: 40px repeat(12, minmax(0, 1fr)) 40px;
        grid-column-start: 2;
        grid-column-end: 6;
    }
    .title-container {
        width: 100%;
        grid-column-start: 4;
        grid-column-end: 12;
    }
    .title h1 {
        font-size: 3.5rem;
    }
    .hero-image {
        grid-area: hero;
        background-image: url('../images/baby-1399332_1920.jpg');
        background-size: 100% cover;
        background-repeat: no-repeat;
    }
    .other-details {
        grid-area: other;
        grid-column-start: 2;
        grid-column-end: 6;
        margin: 10px auto 0;
    }
    .post {
        grid-area: blog;
        grid-column-start: 2;
        grid-column-end: 6;
        display: grid;
        grid-template-columns: 40px repeat(12, minmax(0, 1fr)) 40px;
    }
    .footer-nav {
        grid-area: footer;
    }
    .para-text {
        grid-column: 4/12;
        margin-bottom: 20px;
        font-size: 1.5rem;
        line-height: 2.35rem;
    }
    footer {
        grid-area: footer;
    }
    .category-section {
        display: flex;
    }
    blockquote {
        margin: auto 40px;
        display: grid;
    }
    .author-card {
        display: flex;
        flex-direction: row;
    }
    .author-name {
        max-width: 200px;
        max-height: 250px;
        margin-right: 20px;
    }
    .author-name img {
        width: 100%;
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
    }
    figcaption {
        background-color: black;
        color: white;
        font-style: italic;
        padding: 2px;
        text-align: center;
    }
    .bio {
        line-height: 1.2rem;
    }
}