* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica"
}


/*************************************************************

Grid Definations

*************************************************************/

.container {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header header" "side main" "footer footer";
}

.top-nav {
    grid-area: header;
}

.left-pane {
    grid-area: side;
}

.right-pane {
    grid-area: main;
    padding: 0 40px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "featured featured featured" "post post post";
}

.bottom-nav {
    grid-area: footer;
}

.featured-post {
    grid-area: featured;
    background-image: url('../images/baby-1399332_1920.jpg');
    background-size: 100% 100% cover;
}

.posts {
    grid-area: post;
    margin: 20px;
}


/**************************************************************

Top Navigation

**************************************************************/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 1.5%;
}

.logo {
    margin-right: auto;
}

.search {
    margin-left: 30px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}


/*****************************************************************

Others

*****************************************************************/

.category {
    width: 240px;
    height: 400px;
}

.content {
    margin: 0 20px;
}

.link {
    display: block;
    text-decoration: none;
    margin: 10px 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-image img {
    width: 100%
}

.card-category {
    padding: 5px 15px;
    background: #ff8700;
    margin: 0 15px 0 0;
    width: 70px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.category-section {
    align-items: center;
    margin: 5px 0 10px;
}

.card {
    width: 325px;
    height: 325px;
}

.intro-text {
    width: 100%;
    height: 100%;
}