body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header header" "side main" "footer footer";
}

.top-nav {
    grid-area: header;
}

.left-pane {
    grid-area: side;
}

.right-pane {
    grid-area: main;
}

.bottom-nav {
    grid-area: footer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
}

.logo {
    margin-right: auto;
}

.search {
    margin-left: 30px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}