@import "header.css";
@import "cards.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica"
}


/*************************************************************

Grid Definations

*************************************************************/

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header" "main" "footer";
    width: 100%;
    height: 100vh;
}

.top-nav {
    grid-area: header;
}

.left-pane {
    grid-area: side;
    display: flex;
    align-items: center;
    display: none;
}

.right-pane {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "featured" "post";
}


/* Welcome Section*/

.featured-post {
    grid-area: featured;
    background-image: url('../images/baby-1399332_1920.jpg');
    background-size: 100% 100% cover;
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    line-height: 1.3rem;
}

.featured-post h1 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0;
}

.featured-post p {
    width: 20rem;
    font-size: 0.8rem;
    color: #D3D3D3;
    margin-top: 5px;
    margin-bottom: 5px;
}

.featured-post button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
    display: none;
}

.posts {
    grid-area: post;
    margin: 20px;
}

.bottom-nav {
    grid-area: footer;
}


/*****************************************************************

Others

*****************************************************************/

.content {
    margin: 0 20px;
}

.link {
    display: block;
    text-decoration: none;
    margin: 10px 0;
}

.published-date {
    font-size: 0.8rem;
}

@media(min-width:900px) {
    .container {
        display: grid;
        grid-template-columns: 240px auto;
        grid-template-rows: 60px auto 60px;
        grid-template-areas: "header header" "side main" "footer footer";
        width: 100%;
        height: 100vh;
    }
    .top-nav {
        grid-area: header;
    }
    .left-pane {
        grid-area: side;
        display: flex;
        align-items: center;
    }
    .right-pane {
        grid-area: main;
        padding: 0 40px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "featured featured featured" "post post post";
    }
    /* Welcome Section*/
    .featured-post {
        grid-area: featured;
        background-image: url('../images/baby-1399332_1920.jpg');
        background-size: 100% 100% cover;
        padding: 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        line-height: 2rem;
    }
    .featured-post h1 {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 0;
    }
    .featured-post p {
        width: 33rem;
        font-size: 1.1rem;
        color: #D3D3D3;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .featured-post button {
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        font-size: 1.1rem;
    }
    .posts {
        grid-area: post;
        margin: 20px;
    }
    .bottom-nav {
        grid-area: footer;
    }
}